.map-container {
  height: 100%;
  width: 100%;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 1; /* S'assure que la carte reste en fond */
}

.custom-pin {
  background: transparent !important;
  border: none !important;
}
